{{ partial "header.html" . }}  

{{ $posts := where site.RegularPages "Type" "post" }}
{{ $grouped := $posts.GroupByDate "2006-01-02" }}
{{ $paginated := (.Paginate ($grouped)) }}

{{ range $paginated.PageGroups }}
{{ $thedate := (time .Key) }}
<h1 class="day"> {{ $thedate.Format "January 2, 2006" }}</h1>
  {{ range .Pages.Reverse }}
    {{ if eq .Type "post" }}
      {{ partial "post_header.html" . }}
       <div class = "post-content e-content">
         {{ .Content }}
       </div>
     {{ partial "post_footer.html" . }}
    {{- end }}
  {{ end }}
<hr>
{{ end }}

{{ partial "paginator.html" . }}
{{ partial "footer.html" . }}
